.hero {
  &__background {
    h1 {
      .stroked {
        -webkit-text-stroke: 3px var(--clr-dark);
      }
    }

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:after {
      // background: radial-gradient(transparent , var(--clr-dark) 75% );
      z-index: 1;
    }
    &:before {
      background: radial-gradient(var(--clr-primary), transparent);
      z-index: 2;
    }
  }
}
