.loader {
  --size: 150px;
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  border: 7px double var(--clr-primary);
  -webkit-animation: ball-turn 1s linear infinite;
  animation: ball-turn 1s linear infinite;

  &:before,
  &:after {
    --circle-pos: calc(var(--size) * 60%);
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: var(--clr-primary);
    border-radius: 50%;
    bottom: 0;
    right: var(--circle-pos);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &:after {
    left: var(--circle-pos);
    top: 0;
  }
}

@-webkit-keyframes ball-turn {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ball-turn {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
